<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Existing product</title>
  </head>
  <body>
    <h1>Edit <%= product.name %></h1>
    <form action="/products/<%=product._id%>?_method=PUT" method="POST">
      <section>
        <label for="name">Name:</label>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Product Name"
          value="<%=product.name%>"
        />
      </section>
      <section>
        <label for="price">Price:</label>
        <input
          type="number"
          name="price"
          id="price"
          placeholder="price"
          value="<%=product.price%>"
        />
      </section>
      <section>
        <label for="category">Category:</label>
        <select name="category" id="category">
          <% for (let category of categories) { %>
          <option value="<%=category%>" <%=product.category === category ? 'selected' : ''%>><%=category%></option>
          <% } %>
        </select>
      </section>
      <button>Submit</button>
    </form>

    <a href="/products/<%=product._id%>">Back to Details</a>
  </body>
</html>
