<%-block('title').append('Edit Campground')-%>
<%-layout('layouts/boilerplate.ejs')-%>

<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-6 offset-3">
    <form
      action="/campgrounds/<%= campground._id %>?_method=PUT"
      method="POST"
      class="validated-form"
      novalidate
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="campground[title]"
          placeholder="Title"
          value="<%= campground.title %>"
          required
        />
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          class="form-control"
          id="location"
          name="campground[location]"
          placeholder="Location"
          value="<%= campground.location %>"
          required
        />
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input
          type="number"
          class="form-control"
          id="price"
          name="campground[price]"
          placeholder="Price"
          min="0"
          max="300"
          value="<%= campground.price %>"
          required
        />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">description</label>
        <textarea
          class="form-control"
          id="description"
          rows="5"
          name="campground[description]"
          placeholder="Campground Description Here"
          required
        >
<%= campground.description %></textarea
        >
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Image Url</label>
        <input
          class="form-control"
          type="text"
          id="image"
          name="campground[image]"
          value="<%= campground.image %>"
          required
        />
      </div>
      <button class="btn btn-primary mt-3">Update</button>
      <a href="/campgrounds/<%= campground._id %>" class="btn btn-danger mt-3"
        >Cancel edit</a
      >
    </form>
  </div>
</div>
